body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #457fca; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #5691c8,
    #457fca
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #5691c8,
    #457fca
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.main-container {
  width: 35rem;
  background-color: #f8fcf8;
  margin: 40px auto 0 auto;
  height: 20vh;
  border-radius: 0.7rem;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}

.header {
  color: #152238;
  font-size: 30px;
  display: flex;
  padding-top: 10px;
  justify-content: center;
}

.form-control-input {
  display: flex;
  justify-content: center;
}

.form-control-input input {
  width: 10rem;
  border-radius: 0.2rem;
  border-color: skyblue;
}

.btn-submit {
  background-color: #26abff;
  color: white;
  text-transform: bold;
  border-radius: 0.2rem;
  padding: 3px 10px;
}

.stock-container {
  width: 90vw;
  display: grid;
  gap: 2rem;
  margin: 0 auto;
  padding-bottom: 5rem;
  padding-top: 3rem;
  text-align: center;
}

.stock-info {
  background-color: #d7d2cc;
  border-radius: 0.8rem;
  box-shadow: 2px 3px rgba(0, 0, 0, 0.1);
}
@media screen and (min-width: 576px) {
  .stock-container {
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  }
}

.btn-clear {
  margin: auto;
  width: 180px;
  font-size: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  text-transform: uppercase;
  background-color: red;
  color: white;
  border-radius: 0.3rem;
}

.btn-clear:hover {
  background-color: #d0312d;
  transform: translate(0, -3px);
}

.btn-single-clear {
  color: red;
  background-color: transparent;
  font-size: 25px;
  border-color: transparent;
  padding-bottom: 5px;
  padding-top: 0px;
  margin-top: 0;
}
